body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.CV {
    display: flex;
}
.info-personal {
    display: flex;
    align-items:center;
    background: rgb(45, 207, 153);
    flex-direction:column;
    justify-content: space-evenly;
    padding: 10px;
}
.formacion {
    display: flex;
    flex-direction: column;
    background: rgb(150, 148, 148);
    justify-content: space-evenly;
    padding: 10px;
}
.formacion-academica {
    background: rgb(70, 68, 68);
    border-radius: 10px;
 }
.experiencia-laboral {
    background: rgb(70, 68, 68);
    border-radius: 10px;
 }
 .cursos {
    background:rgb(70, 68, 68);
    border-radius: 10px;
 }
.titulacion{
    color:white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
 h1 {
     color:white;
     font-weight: 900;
     background-color:  rgb(65, 192, 150);
     border-radius: 10px;
     padding: 10px;
 }
 h2 {
    color:white;
    background-color: rgb(65, 192, 150);
    border-radius: 10px;
    padding: 5px;
}
.titulo {
    color:white;
    text-align: center;
    margin: 0;
}
ul{
    list-style: square;
}
li {
    color:white;  
    font-style: italic;
    font-size: 18px;
}
p{
    color: white;   
    padding-left: 20px; 
}